<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="findPWstyle.css">
</head>

<body>
<header>
  <nav>
    <div class="nav">
      <i class="topmenu!" style="border-style: none;">
        <span class="topmenu">menu</span>
      </i>
      <img src="" alt="홈으로 가는 이미지" class="homeimg">
    </div>
  </nav>
</header>
<main>
  <div class="head">
    <h2>비밀번호 찾기</h2>
  </div>
  <section class="findPWform">
    <form id="findPWForm">
      <table>
        <tbody>
        <tr>
          <th scope="row"><label for="usernameCheck">아이디</label></th>
          <td><input type="text" id="usernameCheck" name="usernameCheck"></td>
        </tr>
        <tr>
          <th scope="row"><label for="nameCheck">이름</label></th>
          <td><input type="text" id="nameCheck" name="nameCheck"></td>
        </tr>
        <tr>
          <th><label for="phoneCheck">휴대폰</label></th>
          <td><input type="text" id="phoneCheck" name="phoneCheck"></td>
        </tr>
        </tbody>
      </table>
      <button class="findPWbtn" type="submit">비밀번호 찾기</button>
    </form>
  </section>
</main>
<footer>

</footer>
</body>

</html>