<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="registerstyle.css">
</head>

<body>
<header>
    <nav>
        <div class="nav">
            <i class="topmenu!" style="border-style: none;">
                <span class="topmenu">menu</span>
            </i>
            <img src="" alt="홈으로 가는 이미지" class="homeimg">
        </div>
    </nav>
</header>
<main>
    <div class="head">
        <h2>회원가입</h2>
    </div>
    <section class="registerform">
        <form id="registerForm">
            <table>
                <tbody>
                <tr>
                    <th scope="row"><label for="username">아이디</label></th>
                    <td><input type="text" id="username" name="username"
                               pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" title="이메일 형식으로 입력하세요"></td>
                </tr>
                <tr>
                    <th scope="row"><label for="password">비밀번호</label></th>
                    <td><input type="password" id="password" name="password"></td>
                </tr>
                <tr>
                    <th scope="row"><label for="passwordtest">비밀번호 확인</label></th>
                    <td><input type="password" id="passwordtest" name="passwordtest"></td>
                </tr>
                <tr>
                    <th scope="row"><label for="name">이름</label></th>
                    <td><input type="text" id="name" name="name"></td>
                </tr>
                <tr>
                    <th scope="row"><label for="address">주소</label></th>
                    <td>
                        <ul>
                            <li><button class="addressbtn" href="www.naver.com">주소찾기</button></li>
                            <li><input type="text" id="address" name="address" placeholder="주소"></li>
                            <li><input type="text" id="address" name="address" placeholder="상세주소"></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <th><label for="phone">휴대폰</label></th>
                    <td><input type="text" id="phone" name="phone"></td>
                </tr>
                </tbody>
            </table>
            <button class="registerbtn" type="submit">가입하기</button>
        </form>
    </section>
</main>
<footer>

</footer>

<!-- <script>
    document.getElementById("username").addEventListener("focusout", function (event) {
        const pattern = new RegExp(this.pattern);

        if (!pattern.test(this.value)) {
            setTimeout(() => {  // alert 후 바로 focus()로 인해 무한 반복되는 현상 방지
                document.getElementById("username").value = "이메일 형식으로 입력하세요";
                this.focus();
            }, 0);
        }
    });
</script> -->

<!-- <script>
    document.getElementById("registerForm").addEventListener("submit", function (event) {
        event.preventDefault();

        const formData = {
            username: document.getElementById("username").value,
            password: document.getElementById("password").value,
            name: document.getElementById("name").value,
            address: document.getElementById("address").value,
            phone: document.getElementById("phone").value,
        };

        fetch("/users/join", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(formData)
        }).then(response => {
            if (response.ok) {
                alert("회원가입이 완료되었습니다");
                window.location.href = "/";
            } else {
                alert("회원가입에 실패했습니다")
            }
        }).catch(error => console.log(error))
    })
</script> -->
</body>

</html>